<div class="container">
    {{#if userNameGist}}
        <h5 class="mt-4"><i class="ion-android-list mr-2"></i>{{userNameGist}} {{user.firstName}} {{user.lastName}}</h5>
    {{else}}
        <h5 class="mt-4">{{publicGists}}</h5>
    {{/if}}
    {{#each gists}}
        <div class="row mt-4 mb-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{description}}</h4>
                        <p class="card-text">{{truncate contents 250}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img class="rounded-circle float-left user-image" src="{{user.image}}" alt="" />
                                <h6 class="text-info" style="margin-left: 1em"><a href="/gists/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></h6>
                                <p class="text-muted small" style="margin-bottom: 0;">Created in {{formatDate date 'MMMM Do YYYY'}}</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="float-right">
                                    {{#if user}}
                                        {{{editIcon user.id ../user.id id}}}
                                    {{/if}}
                                    <a href="/gists/show/{{id}}" class="btn btn-dark">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No Gist</p>
    {{/each}}
</div>